@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.Lang("public_Exception")</title>
</head>
<body>
    <div class="pageContent" layouth="42">
        <div class="panel" defh="60" style="width: 300px!important; margin: 20px auto;">
            <h1>
                @Html.Lang("public_Exception")</h1>
            <div style="line-height: 22px; text-indent: 2em; font-size:11pt; text-align:left">
                @Html.Lang("public_ExceptionDetails")
            </div>
        </div>
    </div>
</body>
</html>
