@using webs_YueyxShop.Model

@{
    Layout = null;
}

	<div class="side-bar alignleft">
    	<div class="side-nav">
        	<div class="nav-title"><span>会员中心</span></div>
            <div class="nav-cont">
            	<ul class="vip-nav" id="menu">
                	<li>
                    	<dl>
                        	<dt><em></em><span>交易管理</span></dt>
                            <dd><a href="/Vipscore/vipMyOrder?centerindex=0">我的订单</a></dd>
                            <dd><a href="/Vipscore/vipMyReturnOrder?centerindex=1">退货订单</a></dd>
                            <dd><a href="/Vipscore/vipCollect?centerindex=2">我的收藏</a></dd>
                            <dd><a href="/AccountManage/vipMyEvaluation?centerindex=3">我的评价</a></dd>
                        </dl>
                    </li>
                    <li>
                    	<dl>
                        	<dt><em></em><span>账户管理</span></dt>
                            <dd><a href="/Vipscore/SafeCenter?centerindex=4">安全中心</a></dd>
                            @if (!Convert.ToBoolean(ViewData["Iscompany"]))
                            {
                            <dd><a href="/AccountManage/vipAccountData?centerindex=5">账户资料</a></dd>
                            }
                            <dd><a href="/Vipscore/vipscore?centerindex=6">我的积分</a></dd>
                            <dd><a href="/Vipscore/vipGoodsAddress?centerindex=7">我的收货地址</a></dd>
                            <dd><a href="/VipUpdatePassword/vipPasswordValidation?centerindex=8">密码管理</a></dd>
                        </dl>
                    </li>
                    @if(Convert.ToBoolean(ViewData["Iscompany"]))
                    {
                    <li>
                    	<dl>
                        	<dt><em></em><span>企业信息管理</span></dt>
                            <dd><a href="/UserInfo/CompanyData?centerindex=9">企业资料</a></dd>
                        </dl>
                    </li>
                    }
                </ul>
            </div><!--nav-cont end-->
        </div>
    </div><!--side-bar end-->
