@using System.Collections.Generic
@using System.Data
<!DOCTYPE html>
<html>
<head id="Head1">
    <title>月月兴食品商行后台管理系统</title>
</head>
<body>
    <form id="form1" method="post"  action="@Url.Action("PasswordEdit", "EmployeeBase")" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
    <div class="pageContent">
        <div class="pageFormContent" layouth="58">
            <div class="unit">
                <label>
                    旧密码</label>
                <input type="password" name="oldPassword" size="30" minlength="6" maxlength="20"
                    class="required" />
            </div>
            <div class="unit">
                <label>
                    新密码</label>
                <input type="password" id="cp_newPassword" name="newPassword" size="30" minlength="6"
                    maxlength="20" class="required" />
            </div>
            <div class="unit">
                <label>
                    重复输入新密码</label>
                <input type="password" name="rnewPassword" size="30" equalto="#cp_newPassword" class="required" />
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">
                                保存 @*提交*@</button></div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                取消 @*取消*@</button></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </form>
</body>
</html>
